

.wrapper {
  width: 60%;
  margin: 30px auto;
  padding: 20px;

  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
header>img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: block;
  margin: 20px auto;
}

header>span {
  display: block;
  text-align: center;
  color: white;
}
.name {
  font-weight: bold;
}

.social-btn {
  width: 50%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

svg {
  display: block;
  margin: 10px;
  width: 10%
}
